/* PROBAR ENLACE CON HTML */
/* body {
    background-color: aqua;
} */

/* TIPOGRAFIAS AÑADIDAS EN CARPETA FONT  */
@font-face {
    font-family: paragraph_text;
    src: url(../font/paragraph_text/PPEditorialNew-Ultralight.otf);
    /* font-weight: 400;
    font-style: normal;
    font-display: swap; */
}

@font-face {
    font-family: paragraph_text_cita;
    src: url(../font/paragraph_text/PPEditorialNew-UltralightItalic.otf);
}

@font-face {
    font-family: body_text;
    src: url(../font/body_text/TestUntitledSansVF-Roman.ttf);
}

@font-face {
    font-family: button_text;
    src: url(../font/button_text.ttf);
}


/* COLOR DE FONDO */
body {
    background-color: rgb(0, 0, 0);
}

/* WRAPPER  */
.wrapper {
    padding: 0 140px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* ENLACES INTERNOS */
a {
    color: white;
    text-decoration: none;
    font-family: button_text;
    font-size: 18px;
}

/* LINEAS HORIZONTALES */
hr {
    border-width: 0.75px;
    color: white;
    margin-top: 30px;
}

.logo {
    height: 38px;
    width: 67px;
}

/* EDICIÓN TEXTOS POR OMISIÓN */
h1, h2, h3, p {
    color: white;
}

h1 {
    font-family: paragraph_text;
    font-size: 40px;
    font-weight: lighter;
}


h2 {
    font-family: body_text;
    font-size: 28px;
    font-weight: 450;
    margin-bottom: 40px;
}

h3 {
    font-family: paragraph_text;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0px;
}

p {
    font-family: body_text;
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
}


/* ESPACIO EN CABECERA */
.wrapper > nav > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* HOVER  */
nav > div > a {
    transition: 0.5s;
}

nav > div > a:hover {
    color: #e406ecde
}


/* --------------------------------------------------------------- */
/* INDEX */

/* PARRAFO INICIAL*/
.intro {
    margin-top: 600px;
}

.designer {
    font-size: 30px;
    text-align: right;
    margin-top: 0;
}

.cita {
    font-family: paragraph_text_cita;
    margin-bottom: 0;
}

/* PROYECTOS */
#projects {
    margin-top: 140px;
}

#projects > p {
    font-size: 24px;
}

    /* IMAGEN */

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    /* Estas propiedades hacen que las imágenes sean responsive y se adapten al tamaño de su contenedor */
}


#projects > .fila > .col.uno {
    width: 65%;
}

#projects > .fila > .col.dos {
    width: 35%;
}

#projects > .fila > .col > .image {
    height: 400px;
    overflow: hidden;
    /* background-color: white */
}

#projects > .fila > .col > div > img {
    height: 100%;
    object-fit: cover;
}


        /* ALINEAR */

#projects > .fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.texto_derecha {
    text-align: right;
} 

.texto_izquierda{
    text-align: left;
} 

/* INDICE */

#index {
    margin-top: 140px;
}

#index > div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-top: 15px;
}

#index > div > p {
    margin: 0;
    font-size: 17px;
}

#index > div > h3 {
    margin: 0;
    font-size: 20px;
}

#index > hr {
    margin-top: 15px;
}

/* CONTACTO */

#contact > .social_icons {
    font-size: 24px;
}

/* FOOTER  */
#footer {
    margin-top: 140px;
    align-items: center;
    
}

#footer > hr {
    margin-bottom: 20px;
}


/* EFECTO */

#projects > .fila > .col > .image {
    position: relative;
}

#projects > .fila > .col > .image > .overlay {
    background-color: #e406ecde;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 32px;
    font-weight: bold;
    opacity: 0;
    transition: 0.6s;
    border-radius: 10px;
}


#projects > .fila > .col > .image > .overlay:hover {
    opacity: 1;
}

/* -------------------------------------------------------------- */
/* ABOUT ME  */

#about {
    margin-top: 140px;
}

#about > div > div > img {
    height: 300px;
    width: 300px;
}

#about > .nofrase {
    width: 450px;
    position: absolute;
    margin-bottom: 70px;
}

#about > div > div > div > p {
    width: 350px;
}

#about > div > .image_text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: center; */
}

#about > div > .image_text > .divimage > img {
    height: 500px;
}

#about > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    top: 25px;
    position: relative;
    margin-top: 140px;
}

#about > .frase {
    text-align: right;
    display: flex;
    width: 450px;
    justify-self: flex-end;
    margin-top: 70px;
    
}

/* STUDIES  y LANGUAGE */

.studies > h2 {
   font-size: 24px;
   margin-bottom: 14px;
}

.studies > div {
    display: flex;
    flex-direction: row;
}

.studies > div > .year {
    font-size: 14px;
    margin-right: 20px;
}

.especificacion {
    font-weight: bold;
    margin-bottom: 10px;
}

.language > h2 {
   font-size: 24px;
   margin-bottom: 14px;
}

.language > div {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
}

.language > div > div > .french {
    margin-top: 40px;
}


/* SKILLS  */

.skills > h2 {
    font-size: 24px;
    margin-bottom: 14px;
}

.skills > ul {
    padding: 0;
}

.skills > ul > li, p {
    margin-bottom: 8px;
    margin-top: 8px;
    list-style: none;
}

/* ALINEAR */

#column {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-self: right;
    gap: 20px;
}

/* CONTACTO */

#contact {
    margin-top: 140px;
}

#contact > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


/* FOOTER  */

#footerabout > div > p {
    font-family: button_text;
    font-size: 14px;
}

#footerabout {
    margin-top: 40px;
}

/* -------------------------------------------------------------------- */
/* DETALLE POLYDOR */

#polydor {
    margin-top: 140px;
}

#polydor > #intro > div > div > h1{
    margin-bottom: 0;
}

#polydor > div {
    margin-top: 140px;
}

#footerpolydor { 
    margin-top: 50px;

}

/* IMAGENES */

#polydor > #fotos > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    background-color: white;
    align-items: center;
    
}

#polydor > div > div > img {
    height: 100%;
}

#polydor > #fotos > div:nth-child(5) {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#polydor > #fotos > div:nth-child(6) {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    background-color: white;
    align-items: center;
}

#polydor > #fotos > div:nth-child(6) > img:first-child {
    margin-left: 70px;
}

#polydor > #fotos > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
}

#polydor > #fotos > div:last-child > img:first-child {
    height: 462px;
}



/* RESPONSIVE  */

#polydor > #fotos > div {
    height: auto;
    overflow: hidden;
    justify-content: center;
}

#polydor > div > div > img {
    height: 100%;
    object-fit: cover;
}

/* SPECIFICATIONS */
#specifications > div > div > ul > li > p{
    margin-bottom: 8px;
    margin-top: 8px;
    list-style: none;
}
#specifications > div > div > ul {
    padding: 0;
    margin: 0;
}

#specifications > div > div > p:first-child {
    font-weight: bold;
    font-size: 20px;
}

#specifications > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#specifications > div > div {
    display: flex;
    flex-direction: column;
}

/* KNOW  */

#ux > #intro {
    margin-top: 140px;
}

#gallery {
   margin-top: 30px;
}

#gallery > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

#gallery > ul > li {
    /* width: 33.333%; */
    flex: 30%;
}

#gallery > ul > li:nth-child(4) {
    opacity: 0;
}

#gallery > ul > li:nth-child(3) {
    opacity: 0;
}

#gallery > ul > li:nth-child(8) > div {
    background-color: #FFE590;
}


/* ---------------------------------------------------------------- */
/* MEDIA QUERIES */

/* HOME */
/* ················· */

/* TABLET */
@media screen and (max-width: 720px) {
    
    .wrapper {
        padding: 0 70px;
    }

    .intro {
        margin-top: 550px;
    }

    h1 {
        font-size: 32px;
    }

    a {
        font-size: 16px;
    }

    #projects > .fila > .col {
        width: 100%;
    }

    .logo {
        height: 32px;
        width: 61px;
    }

    #projects > .fila > .col > .image {
        height: 200px;
    }

}

/* MOBILE */
@media screen and (max-width: 480px){
    
    .wrapper {
        padding: 0 30px;
    }

    h1 {
        font-size: 24px;
    }

    a {
        font-size: 12px;
    }

    .logo {
        height: 24px;
        width: 50px;
    }

    .designer {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .intro {
        margin-top: 500px;
    }

    #projects {
        margin-top: 100px;
    }

    #projects > .fila {
        flex-wrap: wrap;
    }

    #projects > .fila > .col.uno{
        width: 100%;
    }

    #projects > .fila > .col.dos{
        width: 100%;
    }

    .texto_derecha {
        text-align: left;
    } 

    #projects > .fila > .col > .image {
        height: 200px;
    }

    #index {
        margin-top: 100px;
    }

    #index > div > h3 {
        margin: 0;
        font-size: 16px;
    }

    #index > div > p {
        margin: 0;
        font-size: 12px;
    }

    h2 {
        font-size: 24px;
    }

    #footer {
        margin-top: 100px;   
    }

}

/* ABOUT */
/* ··················· */

/* TABLET  */

@media screen and (max-width: 1300px) {


    #about > div {
        flex-wrap: wrap;
        top: 100px;
    }

    #column {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        gap: 50px;
    }

    #column > .studies > div > .year {
        margin-right: 50px;
    }

    #about > .frase {
        margin-top: 150px;
    }

}

@media screen and (max-width: 1080px) {

    #about > div > div > div:nth-child(2) {
        order: 4;
    }

    #column {
        flex-wrap: wrap;
    }

    #about > .frase {
        margin-top: 55px;
    }

}


@media screen and (max-width: 970px) {


    #about > div > .image_text > div > p {
        width: 500px;
    }


    #about > div > .image_text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* align-items: center; */
    }

    #about > div {
        margin-top: 50px;
        top: 200px;
    }


    /* #about > div > .image_text > .divimage { */
        /* height: 256px; */
        /* width: 100%; */
        /* overflow: hidden; */
    /* } */

    #about > div > .image_text > .divimage > img {
        height: 500px;
        width: auto;
        object-fit: cover;
        vertical-align: auto;
    }

    }

    @media screen and (max-width: 937px) {

    #column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    


}

@media screen and (max-width: 840px) {

    #about > h1 {
        font-size: 30px;
    }

    #about > .frase {
        width: 350px;
        margin-top: 45px;
    }

    #about > .nofrase {
        width: 350px;
    }

    #about > div {
        top: 170px;
    }
    
}

/* TABLET Y MOBILE  */

@media screen and (max-width: 595px) {

    #about > div > .image_text > div > p {
        width: 300px;
    }

    #about > .frase {
        width: auto;
    }

    #about > .nofrase {
        width: auto;
        position: relative;
        margin-bottom: 40px;
    }

    #about > div {
        top: auto;
        margin-top: 20px;
    }

    #about > div > .image_text > div > p {
        width: auto;
    }

    }

    @media screen and (max-width: 480px) {

    #about {
        margin-top: 100px;
    }

    #about > div > .image_text > div > p {
        font-size: 16px;
        width: 350px;
    }

    #about > div > .image_text > .divimage > img {
        height: 400px;
        width: auto;
        object-fit: cover;
        vertical-align: auto;
    }

    #contact > div {
    gap: 10px;
    }

    #contact {
        margin-top: 100px;
    }

}

/* POLYDOR */
/* ....................  */

/* TABLET */

@media screen and (max-width: 720px) {

    

    #polydor #fotos > div:nth-child(3){
        height: 200px;
    }

    #polydor #fotos > div:nth-child(5){
        height: 200px;  
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #polydor #fotos > div:nth-child(6){
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #polydor #fotos > div:nth-child(6) > img {
        width: 80%;
    }

    #polydor #fotos > div:nth-child(6) > img:first-child {
        margin-left: 0;
        margin-top: 30px;
    }
    
    #polydor #fotos > div:last-child {
        display: flex;
        flex-direction: column;
    }

    #polydor #fotos > div:last-child > img:first-child{
       height: 300px;
    }
  

}

/* MOBILE  */

@media screen and (max-width: 480px) {

    #polydor > #intro {
        margin-top: 100px;
    }

    #polydor > #fotos {
        margin-top: 100px;
    }

    #polydor > #specifications {
        margin-top: 100px;
    }


    #polydor > #specifications > div > div > p {
        font-size: 16px;
    }


    #specifications > div > div > ul > li > p{
    font-size: 16px;
    }

    /* IMAGENES */


    #polydor > #fotos > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    #polydor > #fotos > div:nth-child(5) {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    #polydor > #fotos > div:nth-child(5) > img {
        width: 60%;
    }

    #polydor > #fotos > div:nth-child(6) {
        display: flex;
        flex-direction: column;
    }

    #polydor > #fotos > div:nth-child(6) > img:first-child {
        margin-left: 0px;
        margin-top: 20px;
        width: 90%;
    }

    #polydor > #fotos > div:last-child {
        display: flex;
        flex-direction: column; 
    }

   
    #polydor > #fotos > div:last-child > img:first-child {
        height: 250px; 
    }

}

/* KNOW */
/* .................  */

/* TABLET  */

@media screen and (max-width: 1165px) {
    #ux > #intro > div > div h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1000px) {

    #gallery > ul > li {
        flex: 45%;
    }

    #gallery > ul > li:nth-child(4) {
    opacity: 1;
    }

    #gallery > ul > li:nth-child(3) {
    opacity: 1;
    }
    #gallery > ul > li:last-child {
    display: none;
    }

}

/* MOBILE */

@media screen and (max-width: 480px) {

    #gallery > ul > li {
        flex: 100%;
    }

    #ux > #specifications > div > div > p {
        font-size: 16px;
    }
}


