/* PROBAR ENLACE CON HTML */
/* body {
    background-color: aqua;
} */

/* TIPOGRAFIAS AÑADIDAS EN CARPETA FONT  */
@font-face {
    font-family: paragraph_text;
    src: url(../font/paragraph_text/PPEditorialNew-Ultralight.otf);
    /* font-weight: 400;
    font-style: normal;
    font-display: swap; */
}

@font-face {
    font-family: paragraph_text_cita;
    src: url(../font/paragraph_text/PPEditorialNew-UltralightItalic.otf);
}

@font-face {
    font-family: body_text;
    src: url(../font/body_text/TestUntitledSansVF-Roman.ttf);
}

@font-face {
    font-family: button_text;
    src: url(../font/button_text.ttf);
}


/* COLOR DE FONDO */
body {
    background-color: rgb(0, 0, 0);
}

/* WRAPPER  */
.wrapper {
    padding: 0 140px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* ENLACES INTERNOS */
a {
    color: white;
    text-decoration: none;
    font-family: button_text;
    font-size: 18px;
}

/* LINEAS HORIZONTALES */
hr {
    border-width: 0.75px;
    color: white;
    margin-top: 30px;
}

.logo {
    height: 38px;
    width: 67px;
}

/* EDICIÓN TEXTOS POR OMISIÓN */
h1, h2, h3, p {
    color: white;
}

h1 {
    font-family: paragraph_text;
    font-size: 40px;
    font-weight: lighter;
}


h2 {
    font-family: body_text;
    font-size: 28px;
    font-weight: 450;
    margin-bottom: 40px;
}

h3 {
    font-family: paragraph_text;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0px;
}

p {
    font-family: body_text;
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
}

/* ESPACIO EN CABECERA */
.wrapper > nav > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* HOVER  */

nav > div > a:hover {
    color: #f20678
}


/* .image.line:hover {
    color: #f20678
}


.image.line {
   border: 2px yellow;
   padding: 1px;
   height: auto;
   width: auto;
} */

/* --------------------------------------------------------------- */
/* INDEX */

/* PARRAFO INICIAL*/
.intro {
    margin-top: 600px;
}

.designer {
    font-size: 30px;
    text-align: right;
    margin-top: 0;
}

.cita {
    font-family: paragraph_text_cita;
    margin-bottom: 0;
}

/* PROYECTOS */
#projects {
    margin-top: 140px;
}

#projects > p {
    font-size: 24px;
}

    /* IMAGEN */

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    /* Estas propiedades hacen que las imágenes sean responsive y se adapten al tamaño de su contenedor */
}


#projects > .fila > .col.uno {
    width: 65%;
}

#projects > .fila > .col.dos {
    width: 35%;
}

#projects > .fila > .col > .image {
    height: 400px;
    /* border-radius: 20px; */
    overflow: hidden;
    /* background-color: white */
}

#projects > .fila > .col > div > img {
    height: 100%;
    object-fit: cover;
}


        /* ALINEAR */

#projects > .fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.texto_derecha {
    text-align: right;
} 

.texto_izquierda{
    text-align: left;
} 

/* INDICE */

#index {
    margin-top: 140px;
}

#index > div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-top: 15px;
}

#index > div > p {
    margin: 0;
    font-size: 17px;
}

#index > div > h3 {
    margin: 0;
    font-size: 20px;
}

#index > hr {
    margin-top: 15px;
}

/* FOOTER  */
#footer {
    margin-top: 140px;
    align-items: center;
    
}

#footer > hr {
    margin-bottom: 20px;
}

/* i {
    color: #ffffff;
    font-size: 22px;
    margin-right: 10px;
} */

#footer > div > .social_icons > a {
    color: #ffffff;
    font-size: 20px;
}

/* -------------------------------------------------------------- */
/* ABOUT ME  */

#about {
    margin-top: 140px;
}

#about > div > div > img {
    height: 300px;
    width: 300px;
}

#about > .nofrase {
    width: 450px;
    position: absolute;
}

#about > div > div > p {
    width: 350px;
}

#about > div > .image_text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#about > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    /* top: 310px; */
    position: relative;
    margin-top: 20px;
}

#about > nav > .frase {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 450px;
    
}





/* #about > div {
    position: absolute;
    top: 310px;
} */

/* STUDIES  y LANGUAGE */

.studies > h2 {
   font-size: 24px;
   margin-bottom: 14px;
}

.studies > div {
    display: flex;
    flex-direction: row;
}

.studies > div > .year {
    font-size: 14px;
    margin-right: 20px;
}

.especificacion {
    font-weight: bold;
    margin-bottom: 10px;
}

.language > h2 {
   font-size: 24px;
   margin-bottom: 14px;
}

.language > div {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
}

.language > div > div > .french {
    margin-top: 40px;
}


/* SKILLS  */

.skills > h2 {
    font-size: 24px;
    margin-bottom: 14px;
}

.skills > ul {
    padding: 0;
}

.skills > ul > li, p {
    margin-bottom: 8px;
    margin-top: 8px;
    list-style: none;
}

/* ALINEAR */

#column {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-self: right;
    gap: 20px;
}



/* ---------------------------------------------------------------- */
/* MEDIA QUERIES */

/* TABLET */
@media screen and (max-width: 720px) {
    
.wrapper {
    padding: 0 70px;
  }

.intro {
    margin-top: 550px;
}

h1 {
    font-size: 32px;
}
 a {
    font-size: 16px;
 }

#projects > .fila > .col {
    width: 100%;
  }

.logo {
    height: 32px;
    width: 61px;
}

#projects > .fila > .col > .image {
    height: 200px;
}

}

/* MOBILE */
@media screen and (max-width: 480px){
    
.wrapper {
    padding: 0 30px;
 }

h1 {
    font-size: 24px;
}

a {
    font-size: 12px;
}

.logo {
    height: 24px;
    width: 50px;
}

.designer {
    font-size: 20px;
    margin-bottom: 20px;
}

.intro {
    margin-top: 500px;
}

#projects {
    margin-top: 100px;
}

#projects > .fila {
    flex-wrap: wrap;
  }

#projects > .fila > .col.uno{
    width: 100%;
}

#projects > .fila > .col.dos{
    width: 100%;
}

.texto_derecha {
    text-align: left;
} 

#projects > .fila > .col > .image {
    height: 200px;
}

#index {
    margin-top: 100px;
}

#index > div > h3 {
    margin: 0;
    font-size: 16px;
}

#index > div > p {
    margin: 0;
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

#footer {
    margin-top: 100px;   
}


}